/*************************************
 * Style de la page utilisateur      *
 *************************************/
*
{
	margin: 0 0 0 0;
}

.glyphicon span
{
	display: none;
}

#notificationResult {
	margin-left:20px;
	padding:10px;
}

#notificationMessage {
	width:140px;
}

#notificationAstuce {
	width:140px;
}

#notificationTutorat {
	width:140px;
}

.nav-tabs {
	position: absolute;
	z-index: 1;
	width: 38%;
	height: 66.5%;
	left: 35%;
}

.titre {
	margin-left: 20px;
	margin-top:-20px;
}

.textcenter {
	margin-left:20%;
}

#notificationResult .btn {
	margin:5px;
}

#demandes_recu .btn {
	width:140px;
	margin-left:35px;
}

.creer_pub {
	margin-left:38%;
}

.center {
	float:left;
	height:auto;
	width:50%;
}
.btn_amis {
	float:right;
}


.badge {
	float:right;
}

@font-face
{
	font-family: menu_titres_articles_1;
	src: url('../font/menu_titres_articles/Roboto-Regular.ttf');
}

@font-face
{
	font-family: menu_titres_articles_2;
	src: url('../font/menu_titres_articles/Philosopher-Regular.ttf');
}

#conteneur
{
	width: 1407px;
	margin: auto auto;
}

/* Style de l'en-tête */
header
{
	position: absolute;
	z-index: 3;
	width: 1407px;
	height: 141px;
	padding-top: 19px;
	background-color: #91c4dc;
	border-radius: 25px;
	box-shadow: 1px 1px 3px black;
}

header section
{
	width: 97%;
	height: 102px;
	margin: auto auto;
	background-color: #91c4dc;
	box-shadow: 0px 0px 3px 10px white;
	border-radius: 15px;
}

section #hamburger
{
	float: right;
	margin-top: -50px;
	margin-right: -10px;
	margin-left:208px;
}



/* Menu principal*/

/* Menu reset */
#menu,
#menu ul,
#menu li,
#menu a {
	margin: 0;
	padding: 0;
	border: none;
}

#menu
{
	margin-left: 18px; 								/* + Déplace tout le menu vers la droite */
}

#menu li 
{
	/*margin-top: -25px;*/
	position: relative;
	list-style: none;
	float: left;
	/*display: block;*/
	height: 40px; /*39px;*/
}

/* Liens */
#menu li a 
{
	display: block;
	padding: 0 14px;

	line-height: 41px;
	text-decoration: none;
	
	border-left: 1px solid #91C4DC; 
	border-right: 1px solid #91C4DC;  
	font-family: menu_titres_articles_1, "Times New Roman", Arial, Verdana;
	font-weight: bold;
	font-size: 22px;

	color: #91C4DC; 
	text-shadow: 1px 1px 1px rgba(0,0,0,.6);
}

#menu li:first-child a{ border-left: none; }
#menu li:last-child  a{ border-right: none; }

#menu-principal>ul>li a[class="actif"]
{
	 color: #91C4DC;
	 height:40px;
	 background:    -moz-linear-gradient(top, #91C4DC 0%, #1A3A49 100%);
	 background:      -o-linear-gradient(top, #91C4DC 0%, #1A3A49 100%);
	 background:     -ms-linear-gradient(top, #91C4DC 0%, #1A3A49 100%);  
	 background: -webkit-linear-gradient(top, #91C4DC 0%, #1A3A49 100%);
	 background:         linear-gradient(top, #91C4DC 0%, #1A3A49 100%);
}

#menu-principal>ul >li:first-child a[class="actif"]
{
	 color: #91C4DC;
	 height:40px;
	-webkit-border-radius: 4px 0 0 5px;
	   -moz-border-radius: 4px 0 0 5px;
	        border-radius: 4px 0 0 5px;
	 background:    -moz-linear-gradient(top, #91C4DC 0%, #1A3A49 100%);
	 background:      -o-linear-gradient(top, #91C4DC 0%, #1A3A49 100%);
	 background:     -ms-linear-gradient(top, #91C4DC 0%, #1A3A49 100%);  
	 background: -webkit-linear-gradient(top, #91C4DC 0%, #1A3A49 100%);
	 background:         linear-gradient(top, #91C4DC 0%, #1A3A49 100%);
}

#menu-principal>ul >li:last-child a[class="actif"]
{
	 color: #91C4DC;
	 height:40px;
	-webkit-border-radius: 0 4px 5px 0;
	   -moz-border-radius: 0 4px 5px 0;
	        border-radius: 0 4px 5px 0;
	 background:    -moz-linear-gradient(top, #91C4DC 0%, #1A3A49 100%);
	 background:      -o-linear-gradient(top, #91C4DC 0%, #1A3A49 100%);
	 background:     -ms-linear-gradient(top, #91C4DC 0%, #1A3A49 100%);  
	 background: -webkit-linear-gradient(top, #91C4DC 0%, #1A3A49 100%);
	 background:         linear-gradient(top, #91C4DC 0%, #1A3A49 100%);
}

#menu li:hover > a
{
	 color: #91C4DC;
	 height: 51px;
	 background:    -moz-linear-gradient(top, #91C4DC 0%, #1A3A49 100%);
	 background:      -o-linear-gradient(top, #91C4DC 0%, #1A3A49 100%);
	 background:     -ms-linear-gradient(top, #91C4DC 0%, #1A3A49 100%);  
	 background: -webkit-linear-gradient(top, #91C4DC 0%, #1A3A49 100%);
	 background:         linear-gradient(top, #91C4DC 0%, #1A3A49 100%);
}

#menu-principal>ul >li:first-child:hover a
{
	-webkit-border-radius: 4px 0 0 5px;
	   -moz-border-radius: 4px 0 0 5px;
	        border-radius: 4px 0 0 5px;
}

#menu-principal>ul>li:last-child:hover a
{
	-webkit-border-radius: 0 4px 5px 0;
	   -moz-border-radius: 0 4px 5px 0;
	        border-radius: 0 4px 5px 0;
}

/* Sous Menu */
#menu ul 
{
	position: absolute;
	top: 39px;
	left: 0;
	
/*	background: #584534; */
	
	/*background:    -moz-linear-gradient(top, #91C4DC 0%,#1A3A49 100%);
	background:      -o-linear-gradient(top, #91C4DC 0%,#1A3A49 100%);
	background:     -ms-linear-gradient(top, #91C4DC 0%,#1A3A49 100%);  
	background: -webkit-linear-gradient(top, #91C4DC 0%,#1A3A49 100%);*/
	background: #1A3A49;
	
	-webkit-border-radius: 5px 5px 5px 5px;
	   -moz-border-radius: 5px 5px 5px 5px;
			border-radius: 5px 5px 5px 5px;
}

#menu li:hover > ul { opacity: 1; }

/* Le sous-menu est initialement caché  */
#menu ul li 
{
	/*  height: 0;  */
	
	display:none;  /* On peut faire : overflow: hidden;  */
	padding: 0;
}


/* En cas de survol d'un élément du menu */
#menu li:hover > ul li 
{
	height: 50px;
	
	display:block;  /* On obtient le même effet avec:  overflow: visible;  */
	padding: 0;
}

/*  Apparence du sous-menu    */
#menu ul li a 
{
	width: 280px;
	padding: 4px 0 4px 20px;
	margin: 0;

	border: 1px solid #51A2C8;
	/*border-bottom: 1px solid #51A2C8;*/
}


/* Pas de soulignement du dernier élément du sous-menu   */
#menu ul li:last-child a { border: none; }

#menu ul li:last-child a:hover
{
	-webkit-border-radius: 0 0 5px 5px;
	   -moz-border-radius: 0 0 5px 5px;
			border-radius: 0 0 5px 5px;
}

#menu-principal
{
	width: 53%;
	height: 59px;
	margin-left: 76.5%;
	/*border: solid 1px;*/
}






/* Style de la section centrale */
#conteneur>section
{
	position: relative;
	z-index: 0;
	margin: auto auto;
	width: 94%;
	min-height: 800px;
	background: #91C4DC; /* Pour les navigateurs qui ne supportent pas les gradients */
	background: -webkit-linear-gradient(#91C4DC, white, #91C4DC); /* Pour Safari 5.1 à 6.0 */
	background: -o-linear-gradient(#91C4DC, white, #91C4DC); /* Pour Opera 11.1 à 12.0 */
	background: -moz-linear-gradient(#91C4DC, white, #91C4DC); /* Pour Firefox 3.6 à 15 */
	background: linear-gradient(#91C4DC, white, #91C4DC); /* Syntaxe standard */
}

#menu-gauche
{
	margin-left: -20px;
	width: 26%;
	float: left;
	margin-top:15px;
}

#menu-gauche ul li
{
	width: 100%;
	list-style-type: none;
	font-family: menu_titres_articles_1, "Times New Roman", Arial, Verdana;
	font-size: 14pt;
	transition: font-size 0.75s;
}

#menu-gauche ul li:hover
{
    font-size: 20pt;
}

#menu-gauche li a
{
	text-decoration: none;
	color: #7c3840;
}

#publications
{
	position: absolute;
	z-index: 1;
	width: 35%;
	left: 32%;
	overflow: scroll;
}

#util
{
	padding-top: 160px;
	margin-left: 25px;
	color: #7C3840;
	font-size: 14pt;
}

.publication a
{
	font-size: 9pt;
	color: #7C3840;
}

.droite
{
	cursor: pointer;
	margin-right: 17%;
}

.droite:hover
{
	text-decoration: none;
}

.centre
{
	margin-top: -44px;
	margin-left: 40%;
	-webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
	transform: rotate(-20deg);
}

.publication
{
  position: relative;
  width: 350px;
  height: 110px;
  background: #ffffc5;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 2em 1.5em;
  color: rgba(0,0,0, .8);
  text-shadow: 0 1px 0 #fff;
  line-height: 1.5;
  margin: 60px auto;
}

.publication:before, .publication:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0 15px 10px rgba(0,0,0, 0.7);
  -moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}

.publication:after
{
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}





	
/* Style du pied de page */
footer
{
	position: relative;
	bottom: 0;
	width: 1407px;
	height: 141px;
	font-family: menu_titres_articles_1, "Times New Roman", Arial, Verdana;
	padding-top: 19px;
	background-color: #91c4dc;
	border-radius: 25px;
	box-shadow: 1px -1px 3px black;
}

footer section
{
	width: 97%;
	height: 102px;
	margin: auto auto;
	background-color: #91c4dc;
	box-shadow: 0px 0px 3px 10px white;
	border-radius: 15px;
}

footer section a:nth-child(2)
{
	margin-left: 30%;
}

footer section a:nth-child(5)
{
	margin-left: 30%;
	margin-right: 282px;
}

footer section a
{
	color: #7c3840;
	margin-right: 300px;
	font-size: 11pt;
	transition: font-size 0.75s;
}

footer section a:hover
{
	text-decoration: none;
	color: #7c3840;
	font-size: 12pt;
}

footer p
{
	text-align: center;
	color: #7c3840;
}






/*************************************
 * Style de la page d'inscription    *
 *************************************/
 
section>h1:nth-child(3)
{
	margin-top: -35px;
	text-align: center;
	font-family: menu_titres_articles_2, "Times New Roman", Arial, Verdana;
	font-size: 22pt;
	font-weight: bold;
	color: #1A3A49;
}
 
.bs-callout-warning
{
	color: #7c3840;
	font-size: 22pt;
	text-align: center;
	font-family: menu_titres_articles_2, "Times New Roman", Arial, Verdana;
}

.bs-callout-info
{
	font-size: 22pt;
	text-align: center;
	font-family: menu_titres_articles_2, "Times New Roman", Arial, Verdana;
}

form label
{
	display: inline-block;
	width: 350px;
	font-family: menu_titres_articles_2, "Times New Roman", Arial, Verdana;
	font-size: 22pt;
	color: #1A3A49;
	margin-left: 25%;
	margin-bottom: 10px;
}

form input
{
	font-family: menu_titres_articles_1, "Times New Roman", Arial, Verdana;
	font-size: 22pt;
	border: 2px solid #1A3A49;
	border-radius: 5px;
	/*box-shadow: 6px 6px 6px 1px lightgrey inset;*/
}

button:nth-child(40)
{
	width: 300px;
	height: 45px;
	border-radius: 5px;
	font-family: menu_titres_articles_1, "Times New Roman", Arial, Verdana;
	font-size: 17pt;
	font-weight: bold;
	background-color: #1A3A49;
	border: 2px solid #51A2C8;
	color: #91C4DC;
	display: block;
	margin: auto auto;
}






/*******************************
 * Style de la page login      *
 *******************************/
button:nth-child(10), #bouton_inscription
{
	display: block;
	margin: auto auto;
	width: 300px;
	height: 45px;
	border-radius: 5px;
	font-family: menu_titres_articles_1, "Times New Roman", Arial, Verdana;
	font-size: 17pt;
	font-weight: bold;
	background-color: #1A3A49;
	border: 2px solid #51A2C8;
	color: #91C4DC;
	text-align: center;
	text-decoration: none;
	line-height: 42px;
}

#choix_acces
{
	font-weight: bold;
	font-size: 20pt;
	color: #1A3A49;
	text-align: center;
}

section>h1:nth-child(3)
{
	padding-top: 170px;
	text-align: center;
	font-family: menu_titres_articles_1, "Times New Roman", Arial, Verdana;
	font-size: 22pt;
	font-weight: bold;
	color: #1A3A49;
}







/***********************************
 * Style de la Boîte de réception  *
 ***********************************/
section>h1:first-child
{
	padding-top: 170px;
	text-align: center;
	font-family: menu_titres_articles_1, "Times New Roman", Arial, Verdana;
	font-size: 22pt;
	font-weight: bold;
	color: #1A3A49;
}
 
#bouton_reception
{
	display: block;
	margin-top: 15px;
	width: 300px;
	height: 45px;
	border-radius: 5px;
	font-family: menu_titres_articles_1, "Times New Roman", Arial, Verdana;
	font-size: 17pt;
	font-weight: bold;
	background-color: #1A3A49;
	border: 2px solid #51A2C8;
	color: #91C4DC;
}

#form_reception
{
	margin-left: 37%;
	font-family: menu_titres_articles_2, "Times New Roman", Arial, Verdana;
	font-size: 22pt;
	color: #1A3A49;
}

#courrielAmi
{
	width: 373px;
	font-family: menu_titres_articles_2, "Times New Roman", Arial, Verdana;
	font-size: 22pt;
	color: #1A3A49;
	border: 2px solid #1A3A49;
	border-radius: 5px;
}

#messages
{
	width: 373px;
	border: 2px solid #1A3A49;
	border-radius: 5px;
}





/*****************
 * Adaptativité  *
 *****************/
@media screen and (min-resolution: 97dpi)
{
    #publications
	{
        height: 63.5%;
    }
}

@media screen and (min-width: 769px) and (max-width: 1366px)
{
	.glyphicon span
	{
		display: none;
	}
	
	#conteneur
	{
		width: 1001px;
        height: 715px;
    }
	
	#conteneur>section
	{
		position: relative;
		z-index: 0;
		height: 611px;
	}
	
	section>img:first-child
	{
		width: 211.3px;
		height: 71.1px;
	}
	
	header
	{
		position: absolute;
		z-index: 3;
		width: 1001px;
		height: 101px;
		padding-top: 13.5px;
	}
	
	header section
	{
		height: 72.5px;
	}
	
	section #hamburger
	{
		float: right;
		width: 38.4px;
		height: 40.5px;
		margin-top: -37px;
		margin-right: -10px;
		margin-left: 151px;
	}
	
	
	
	/* Menu principal*/
	#menu
	{
		margin-left: 14px; 								/* + Déplace tout le menu vers la droite */
	}

	#menu li 
	{
		position: relative;
		height: 28.4px;
	}
	
	/* Liens */
	#menu li a 
	{
		padding: 0 9.9px;
		line-height: 29.1px;
		border-left: 0.5px solid #91C4DC; 
		border-right: 0.5px solid #91C4DC;
		font-size: 15.6px;
		text-shadow: 0.5px 0.5px 0.5px rgba(0,0,0,.6);
	}
	
	#menu-principal>ul>li a[class="actif"],
	#menu-principal>ul >li:first-child a[class="actif"],
	#menu-principal>ul >li:last-child a[class="actif"],
	#menu li:hover > a
	{
		height: 37px;
	}
	
	/* Sous Menu */
	#menu ul 
	{
		position: absolute;
		top: 27.7px;
		left: 0;
		
		-webkit-border-radius: 2.5px 2.5px 2.5px 2.5px;
		-moz-border-radius: 2.5px 2.5px 2.5px 2.5px;
				border-radius: 2.5px 2.5px 2.5px 2.5px;
	}
	
	/* En cas de survol d'un élément du menu */
	#menu li:hover > ul li 
	{
		height: 35.5px;
	}
	
	/*  Apparence du sous-menu    */
	#menu ul li a 
	{
		width: 199.2px;
		padding: 2.8px 0 2.8px 14.2px;
		border: 0.5px solid #51A2C8;
	}
	
	#menu ul li:last-child a:hover
	{
		-webkit-border-radius: 0 0 2.5px 2.5px;
		-moz-border-radius: 0 0 2.5px 2.5px;
				border-radius: 0 0 2.5px 2.5px;
	}
	
	
	
	/* Menu de gauche espace utilisateur */
	#util
	{
		padding-top: 115px;
		margin-left: 17.8px;
		font-size: 10pt;
	}
	
	#menu-gauche
	{
		margin-left: -21px;
		width: 28%;
		/*border: solid 1px black;*/
	}
	
	#menu-gauche ul li
	{
		font-size: 10pt;
	}
	
	#menu-gauche ul li:hover
	{
		font-size: 14.2pt;
	}
	
	#publications
	{
		position: absolute;
		z-index: 1;
		width: 38%;
		height: 66.5%;
		left: 31.5%;
		/*border: solid 1px black;*/
	}
	
	.publication
	{
		width: 262.6px;
		height: 75px;
		padding: 1.4em 1.7em;
		line-height: 1.07;
	}
	
	.publication p
	{
		font-size: 10pt;
	}
	
	.boutons_sur_publication
	{
		margin-left: -10px;
	}
	
	section>div:first-child
	{
		padding-top: 115px;
	}
	
	section h1, .bs-callout
	{
		font-size: 15.6pt;
	}
	
	section h1
	{
		margin-top: 0px;
	}
	
	form label
	{
		width: 249px;
		font-size: 15.6pt;
		margin-bottom: 7.1px;
	}
	
	form input
	{
		font-size: 15.6pt;
		border: 1px solid #1A3A49;
	}
	
	button:nth-child(10), button:nth-child(40)
	{
		width: 213.4px;
		height: 32px;
		font-size: 12pt;
		border: 1px solid #51A2C8;
	}
	
	footer
	{
		width: 1001px;
		height: 103px;
		padding-top: 15px;
	}
	
	footer section
	{
		height: 72.5px;
	}
	
	footer a, footer p
	{
		font-size: 8.5pt;
	}
	
	footer section a
	{
		margin-right: 213.4px;
		position: relative;
		bottom: 6px;
	}
	
	footer section a:nth-child(2)
	{
		margin-left: 30%;
	}
	
	footer section a:nth-child(5)
	{
		margin-left: 30%;
		margin-right: 199.2px;
	}
	
	footer p
	{
		margin-top: -20px;
	}
}

/* Tablettes orientation portrait*/
@media screen and (min-width: 737px) and (max-width: 1024px) and (orientation : portrait)
{
	.glyphicon span
	{
		display: none;
	}
	
	#conteneur
	{
		width: 750px;
		height: 924px;
    }
	
	#conteneur>section
	{
		height: 820px;
		
		background: red; /* Pour les navigateurs qui ne supportent pas les gradients */
		background: -webkit-linear-gradient(#91C4DC, white, #91C4DC); /* Pour Safari 5.1 à 6.0 */
		background: -o-linear-gradient(#91C4DC, white, #91C4DC); /* Pour Opera 11.1 à 12.0 */
		background: -moz-linear-gradient(#91C4DC, white, #91C4DC); /* Pour Firefox 3.6 à 15 */
		background: linear-gradient(#91C4DC, white, #91C4DC); /* Syntaxe standard */
	}
	
	section>img:first-child
	{
		width: 211.3px;
		height: 71.1px;
	}
	
	header
	{
		width: 750px;
		height: 104px;
	}
	
	header section
	{
		width: 95%;
		height: 75px;
		margin-top: -5px;
	}
	
	section #hamburger
	{
		float: right;
		width: 38.4px;
		height: 40.5px;
		margin-top: -37px;
		margin-right: -11.5px;
		margin-left: 103px;
	}
	
	
	
	/* Menu principal*/
	#menu
	{
		margin-left: 14px;
	}
	
	#menu li 
	{
		position: relative;
		height: 24.3px;
	}
	
	/* Liens */
	#menu li a 
	{
		padding: 0 9.9px;
		line-height: 24.9px;
		border-left: 1px solid #91C4DC; 
		border-right: 1px solid #91C4DC;
		font-size: 12px;
		text-shadow: 0.5px 0.5px 0.5px rgba(0,0,0,.6);
	}
	
	#menu-principal>ul>li a[class="actif"],
	#menu-principal>ul >li:first-child a[class="actif"],
	#menu-principal>ul >li:last-child a[class="actif"],
	#menu li:hover > a
	{
		height: 31px;
	}
	
	/* Sous Menu */
	#menu ul 
	{
		position: absolute;
		top: 23.7px;
		left: 0;
		
		-webkit-border-radius: 2.5px 2.5px 2.5px 2.5px;
		-moz-border-radius: 2.5px 2.5px 2.5px 2.5px;
				border-radius: 2.5px 2.5px 2.5px 2.5px;
	}
	
	/* En cas de survol d'un élément du menu */
	#menu li:hover > ul li 
	{
		height: 30.4px;
	}
	
	/*  Apparence du sous-menu    */
	#menu ul li a 
	{
		width: 149.3px;
		padding: 2.4px 0 2.4px 10.6px;
		border: 1px solid #51A2C8;
	}
	
	#menu ul li:last-child a:hover
	{
		-webkit-border-radius: 0 0 2.5px 2.5px;
		-moz-border-radius: 0 0 2.5px 2.5px;
				border-radius: 0 0 2.5px 2.5px;
	}
	
	
	
	/* Menu de gauche espace utilisateur */
	#util
	{
		padding-top: 115px;
		margin-left: 17.8px;
		font-size: 10pt;
	}
	
	#menu-gauche
	{
		position: relative;
		z-index: 3;
		margin-left: -27px;
		width: 37%;
		/*border: solid 1px black;*/
	}
	
	#menu-gauche ul li
	{
		font-size: 9pt;
	}
	
	#menu-gauche ul li:hover
	{
		font-size: 14.2pt;
	}
	
	#publications
	{
		width: 55%;
		height: 66.5%;
		left: 26%;
		/*border: solid 1px black;*/
	}
	
	.publication
	{
		width: 320px;
		height: 100px;
		padding: 1em 1.27em;
		line-height: 0.8;
	}
	
	.publication p, .publication a
	{
		font-size: 8pt;
	}
	
	.boutons_sur_publication
	{
		margin-left: -15px;
	}
	
	section h1
	{
		margin-top: 0px;
	}
	
	section>div:first-child
	{
		padding-top: 115px;
	}
	
	section h1, .bs-callout
	{
		font-size: 13pt;
	}
	
	form label
	{
		width: 186.7px;
		font-size: 13pt;
		margin-left: 25%;
	}
	
	form input
	{
		width: 206.25px;
		font-size: 13pt;
		border: 1px solid #1A3A49;
	}
	
	button:nth-child(10), button:nth-child(40)
	{
		width: 160px;
		height: 27px;
		font-size: 9pt;
		border: 1px solid #51A2C8;
	}
	
	footer
	{
		width: 750px;
		height: 107px;
		margin-top: -3px;
	}
	
	footer section
	{
		width: 95%;
		height: 75px;
		margin-top: -2px;
	}
	
	footer a, footer p
	{
		font-size: 8.5pt;
	}
	
	footer section a
	{
		margin-right: 135px;
	}
	
	footer section a:nth-child(2)
	{
		margin-left: 30%;
	}
	
	footer section a:nth-child(5)
	{
		margin-left: 30%;
		margin-right: 120.8px;
	}
	
	footer p
	{
		margin-top: -21px;
	}
	
	body
	{
		/*overflow: hidden;*/
	}
}

/* Tablettes orientation paysage*/
@media screen and (min-width: 737px) and (max-width: 1024px) and (max-height: 768px) and (orientation : landscape)
{
	.glyphicon span
	{
		display: none;
	}
	
	#conteneur
	{
		width: 900px;
		height: 667px;
    }
	
	#conteneur>section
	{
		height: 800px;
		
		background: red; /* Pour les navigateurs qui ne supportent pas les gradients */
		background: -webkit-linear-gradient(#91C4DC, white, #91C4DC); /* Pour Safari 5.1 à 6.0 */
		background: -o-linear-gradient(#91C4DC, white, #91C4DC); /* Pour Opera 11.1 à 12.0 */
		background: -moz-linear-gradient(#91C4DC, white, #91C4DC); /* Pour Firefox 3.6 à 15 */
		background: linear-gradient(#91C4DC, white, #91C4DC); /* Syntaxe standard */
	}
	
	section>img:first-child
	{
		width: 211.3px;
		height: 71.1px;
	}
	
	header
	{
		width: 900px;
	}
	
	header section
	{
		width: 95%;
	}
	
	section #hamburger
	{
		float: right;
		width: 38.4px;
		height: 40.5px;
		margin-top: -37px;
		margin-right: -10px; 							/* + Augmente la largeur du sous menu vide */
		margin-left: 101px; 								/* + Déplace le hamburger vers la droite */
	}
	
	
	
	/* Menu principal*/
	#menu
	{
		margin-left: 48px; 								/* + Déplace tout le menu vers la droite */
	}
	
	#menu li 
	{
		position: relative;
		height: 24.3px;
	}
	
	/* Liens */
	#menu li a 
	{
		padding: 0 9.9px;
		line-height: 24.9px;
		border-left: 1px solid #91C4DC; 
		border-right: 1px solid #91C4DC;
		font-size: 12px;
		text-shadow: 0.5px 0.5px 0.5px rgba(0,0,0,.6);
	}
	
	#menu-principal>ul>li a[class="actif"],
	#menu-principal>ul >li:first-child a[class="actif"],
	#menu-principal>ul >li:last-child a[class="actif"],
	#menu li:hover > a
	{
		height: 30.5px;
	}
	
	/* Sous Menu */
	#menu ul 
	{
		position: absolute;
		top: 23.7px;
		left: 0;
		
		-webkit-border-radius: 2.5px 2.5px 2.5px 2.5px;
		-moz-border-radius: 2.5px 2.5px 2.5px 2.5px;
				border-radius: 2.5px 2.5px 2.5px 2.5px;
	}
	
	/* En cas de survol d'un élément du menu */
	#menu li:hover > ul li 
	{
		height: 30.4px;
	}
	
	/*  Apparence du sous-menu    */
	#menu ul li a 
	{
		width: 149.3px;							/* + Augmente la largeur du premier lien du sous menu */
		padding: 2.4px 0 2.4px 10.6px;
		border: 1px solid #51A2C8;
	}
	
	#menu ul li:last-child a:hover
	{
		-webkit-border-radius: 0 0 2.5px 2.5px;
		-moz-border-radius: 0 0 2.5px 2.5px;
				border-radius: 0 0 2.5px 2.5px;
	}
	
	
	
	/* Menu de gauche espace utilisateur */
	#util
	{
		margin-left: 17.8px;
		font-size: 10pt;
	}
	
	#menu-gauche
	{
		margin-left: -27px;
		width: 33%;
		/*border: solid 1px black;*/
	}
	
	#menu-gauche ul li
	{
		font-size: 9pt;
	}
	
	#menu-gauche ul li:hover
	{
		font-size: 14.2pt;
	}
	
	#publications
	{
		width: 55%;
		height: 66.5%;
		left: 26%;
		/*border: solid 1px black;*/
	}
	
	.publication
	{
		width: 360px;
		height: 100px;
		padding: 1em 1.27em;
		line-height: 0.8;
	}
	
	.publication p
	{
		font-size: 9pt;
	}
	
	.boutons_sur_publication
	{
		margin-left: -15px;
	}
	
	section h1
	{
		margin-top: 0px;
	}
	
	section>div:first-child
	{
		padding-top: 115px;
	}
	
	section h1, .bs-callout
	{
		font-size: 13pt;
	}
	
	form label
	{
		width: 220px;
		font-size: 13pt;
		margin-left: 25%;
	}
	
	form input
	{
		width: 275px;
		font-size: 13pt;
		border: 1px solid #1A3A49;
	}
	
	button:nth-child(10), button:nth-child(40)
	{
		width: 160px;
		height: 27px;
		font-size: 9pt;
		border: 1px solid #51A2C8;
	}
	
	footer
	{
		width: 900px;
		height: 102.5px;
		margin-top: -3px;
	}
	
	footer section
	{
		width: 95%;
	}
	
	footer a, footer p
	{
		font-size: 8.5pt;
	}
	
	footer section a
	{
		margin-right: 135px;
	}
	
	footer section a:nth-child(2)
	{
		margin-left: 33.5%;
	}
	
	footer section a:nth-child(5)
	{
		margin-left: 33.5%;
		margin-right: 120.8px;
	}
	
	footer p
	{
		margin-top: -23px;
	}
	
	body
	{
		/*overflow: hidden;*/
	}
}

/* Cellulaires orientation portrait*/
@media screen and (min-width: 320px) and (max-width: 736px) and (orientation : portrait)
{	
	#conteneur
	{
		width: 365px;
		height: 842px;
    }
	
	#conteneur>section
	{
		height: 750px;
		
		background: red; /* Pour les navigateurs qui ne supportent pas les gradients */
		background: -webkit-linear-gradient(#91C4DC, white, #91C4DC); /* Pour Safari 5.1 à 6.0 */
		background: -o-linear-gradient(#91C4DC, white, #91C4DC); /* Pour Opera 11.1 à 12.0 */
		background: -moz-linear-gradient(#91C4DC, white, #91C4DC); /* Pour Firefox 3.6 à 15 */
		background: linear-gradient(#91C4DC, white, #91C4DC); /* Syntaxe standard */
	}
	
	section>img:first-child
	{
		margin-top: 3px;
		width: 180px;
		height: 60.56px;
	}
	
	header
	{
		width: 360px;
		height: 95px;
	}
	
	header section
	{
		width: 93%;
		height: 65.1px;
		margin-top: -5px;
	}
	
	section #hamburger
	{
		float: right;
		width: 38.4px;
		height: 40.5px;
		margin-top: -38px;
		margin-right: 28px; 							/* + Augmente la largeur du sous menu vide */
		margin-left: 65px; 								/* + Déplace le hamburger vers la droite */
	}
	
	
	
	/* Menu principal*/
	#menu
	{
		margin-left: -67px; 								/* + Déplace tout le menu vers la droite */
	}
	
	#menu li 
	{
		position: relative;
		height: 24.3px;
	}
	
	/* Liens */
	#menu li a 
	{
		padding: 0 9.9px;
		line-height: 24.9px;
		border-left: 1px solid #91C4DC; 
		border-right: 1px solid #91C4DC;
		font-size: 12px;
		text-shadow: 0.5px 0.5px 0.5px rgba(0,0,0,.6);
	}
	
	#menu-principal>ul>li a[class="actif"],
	#menu-principal>ul >li:first-child a[class="actif"],
	#menu-principal>ul >li:last-child a[class="actif"],
	#menu li:hover > a
	{
		height: 31.5px;
	}
	
	/* Sous Menu */
	#menu ul 
	{
		position: absolute;
		top: 23.7px;
		left: 0;
		
		-webkit-border-radius: 2.5px 2.5px 2.5px 2.5px;
		-moz-border-radius: 2.5px 2.5px 2.5px 2.5px;
				border-radius: 2.5px 2.5px 2.5px 2.5px;
	}
	
	/* En cas de survol d'un élément du menu */
	#menu li:hover > ul li 
	{
		height: 30.4px;
	}
	
	/*  Apparence du sous-menu    */
	#menu ul li a 
	{
		width: 150px;							/* + Augmente la largeur du premier lien du sous menu */
		padding: 2.4px 0 2.4px 10.6px;
		border: 1px solid #51A2C8;
	}
	
	#menu ul li:last-child a:hover
	{
		-webkit-border-radius: 0 0 2.5px 2.5px;
		-moz-border-radius: 0 0 2.5px 2.5px;
				border-radius: 0 0 2.5px 2.5px;
	}
	
	
	
	/* Menu de gauche espace utilisateur */
	#util
	{
		position: relative;
		top: -50px;
		margin-left: 17.8px;
		font-size: 10pt;
	}
	
	#menu-gauche
	{
		margin-top: -90px;
		margin-left: 0px;
		width: 90%;
		height: 60px;
		/*border: solid 1px black;*/
		float: initial;
	}
	
	#menu-gauche li
	{
		display: inline;
	}
	
	#menu-gauche img
	{
		clear: both;
		margin-right: 10px;
		position: relative;
		bottom: 38px;
	}
	
	.categorie
	{
		display: none;
	}
	
	#menu-gauche ul li
	{
		font-size: 9pt;
	}
	
	#menu-gauche ul li:hover
	{
		font-size: 14.2pt;
	}
	
	.glyphicon
	{
		position: relative;
		z-index: 4;
	}
 
	.glyphicon:hover
	{
		z-index: 5;
	}
 
	.glyphicon span
	{
		display: none
	}
	
	.glyphicon:hover span
	{
		display: block;
		position: absolute;
		top: -25px; left: -25px; width: 170px;
		color: #7c3840;
		text-align: left;
		font-weight: bold;
	}
	
	/* publications */
	#opener
	{
		position: relative;
		top: 100px;
	}
	
	#publications
	{
		width: 98%;
		height: 66.5%;
		left: 0%;
		/*border: solid 1px black;*/
	}
	
	.publication
	{
		width: 300px;
		height: 80px;
		padding: 1em 1.27em;
		line-height: 0.8;
		text-align: center;
	}
	
	.publication p, .publication a
	{
		font-size: 8pt;
	}

	.publication a
	{
		margin-right: 10px;
	}
	
	.centre
	{
		margin-bottom: 10px;
		margin-left: 0;
		-webkit-transform: rotate(-20deg);
		-moz-transform: rotate(-20deg);
		-o-transform: rotate(-20deg);
		-ms-transform: rotate(-20deg);
		transform: rotate(-20deg);
	}
	
	.boutons_sur_publication
	{
		margin-left: -20px;
	}
	
	section h1
	{
		margin-top: 0px;
	}
	
	section>div:first-child
	{
		padding-top: 115px;
	}
	
	section h1, .bs-callout
	{
		font-size: 13pt;
	}
	
	form label
	{
		width: 220px;
		font-size: 13pt;
		margin-left: 0px;
	}
	
	#conteneur>section:nth-child(2)
	{
		text-align: center;
	}
	
	#password
	{
		margin-top: 10px;
	}
	
	form input
	{
		width: 275px;
		font-size: 13pt;
		border: 1px solid #1A3A49;
	}
	
	button:nth-child(10), button:nth-child(40)
	{
		width: 160px;
		height: 27px;
		font-size: 9pt;
		border: 1px solid #51A2C8;
	}
	
	footer
	{
		width: 360px;
		height: 95px;
		margin-top: -3px;
	}
	
	footer section
	{
		width: 93%;
		height: 65.1px;
		margin-top: -4.5px;
	}
	
	footer a, footer p
	{
		position: relative;
		bottom: 16px;
		font-size: 7pt;
	}
	
	footer section a
	{
		margin-right: 35px;
	}
	
	footer section a:nth-child(2)
	{
		margin-left: 25%;
	}
	
	footer section a:nth-child(5)
	{
		margin-left: 25%;
		margin-right: 24.5px;
	}
	
	footer p
	{
		margin-top: -13px;
	}
	
	body
	{
		/*overflow: hidden;*/
	}
}

/* Cellulaires orientation paysage*/
@media screen and (min-width: 320px) and (max-width: 736px) and (max-height: 320px) and (orientation : landscape)
{	
	#conteneur
	{
		width: 650px;
		height: 842px;
    }
	
	#conteneur>section
	{
		height: 750px;
		
		background: red; /* Pour les navigateurs qui ne supportent pas les gradients */
		background: -webkit-linear-gradient(#91C4DC, white, #91C4DC); /* Pour Safari 5.1 à 6.0 */
		background: -o-linear-gradient(#91C4DC, white, #91C4DC); /* Pour Opera 11.1 à 12.0 */
		background: -moz-linear-gradient(#91C4DC, white, #91C4DC); /* Pour Firefox 3.6 à 15 */
		background: linear-gradient(#91C4DC, white, #91C4DC); /* Syntaxe standard */
	}
	
	section>img:first-child
	{
		margin-top: 3px;
		width: 180px;
		height: 60.56px;
	}
	
	header
	{
		width: 645px;
		height: 95px;
	}
	
	header section
	{
		width: 93%;
		height: 65.1px;
		margin-top: -5px;
	}
	
	section #hamburger
	{
		float: right;
		width: 38.4px;
		height: 40.5px;
		margin-top: -38px;
		margin-right: 30px; 							/* + Augmente la largeur du sous menu vide */
		margin-left: 65px; 								/* + Déplace le hamburger vers la droite */
	}
	
	
	
	/* Menu principal*/
	#menu
	{
		margin-left: -5px; 								/* + Déplace tout le menu vers la droite */
	}
	
	#menu li 
	{
		position: relative;
		height: 24.3px;
	}
	
	/* Liens */
	#menu li a 
	{
		padding: 0 9.9px;
		line-height: 24.9px;
		border-left: 1px solid #91C4DC; 
		border-right: 1px solid #91C4DC;
		font-size: 12px;
		text-shadow: 0.5px 0.5px 0.5px rgba(0,0,0,.6);
	}
	
	#menu-principal>ul>li a[class="actif"],
	#menu-principal>ul >li:first-child a[class="actif"],
	#menu-principal>ul >li:last-child a[class="actif"],
	#menu li:hover > a
	{
		height: 32px;
	}
	
	/* Sous Menu */
	#menu ul 
	{
		position: absolute;
		top: 23.7px;
		left: 0;
		
		-webkit-border-radius: 2.5px 2.5px 2.5px 2.5px;
		-moz-border-radius: 2.5px 2.5px 2.5px 2.5px;
				border-radius: 2.5px 2.5px 2.5px 2.5px;
	}
	
	/* En cas de survol d'un élément du menu */
	#menu li:hover > ul li 
	{
		height: 30.4px;
	}
	
	/*  Apparence du sous-menu    */
	#menu ul li a 
	{
		width: 153px;							/* + Augmente la largeur du premier lien du sous menu */
		padding: 2.4px 0 2.4px 10.6px;
		border: 1px solid #51A2C8;
	}
	
	#menu ul li:last-child a:hover
	{
		-webkit-border-radius: 0 0 2.5px 2.5px;
		-moz-border-radius: 0 0 2.5px 2.5px;
				border-radius: 0 0 2.5px 2.5px;
	}
	
	
	
	/* Menu de gauche espace utilisateur */
	#util
	{
		position: relative;
		top: -50px;
		margin-left: 17.8px;
		font-size: 10pt;
	}
	
	#menu-gauche
	{
		position: relative;
		top: -100px;
		margin-left: 30px;
		width: 90%;
		height: 400px;
		/*border: solid 1px black;*/
		float: initial;
	}
	
	#menu-gauche li
	{
		display: inline;
	}
	
	#menu-gauche img
	{
		clear: both;
		margin-right: 10px;
		position: relative;
		bottom: 38px;
	}
	
	.categorie
	{
		display: none;
	}
	
	#menu-gauche ul li
	{
		font-size: 9pt;
	}
	
	#menu-gauche ul li:hover
	{
		font-size: 14.2pt;
	}
	
	.glyphicon
	{
		position: relative;
		z-index: 4;
	}
 
	.glyphicon:hover
	{
		z-index: 5;
	}
 
	.glyphicon span
	{
		display: none
	}
	
	.glyphicon:hover span
	{
		display: block;
		position: absolute;
		top: -25px; left: -25px; width: 170px;
		color: #7c3840;
		text-align: left;
		font-weight: bold;
	}
	
	/* publications */
	#opener
	{
		position: relative;
		top: 100px;
	}
	
	#publications
	{
		width: 98%;
		height: 66.5%;
		left: 0%;
		/*border: solid 1px black;*/
	}
	
	.publication
	{
		width: 300px;
		height: 80px;
		padding: 1em 1.27em;
		line-height: 0.8;
		text-align: center;
	}
	
	.publication p, .publication a
	{
		font-size: 8pt;
	}

	.publication a
	{
		margin-right: 10px;
	}
	
	.centre
	{
		margin-bottom: 10px;
		margin-left: 0;
		-webkit-transform: rotate(-20deg);
		-moz-transform: rotate(-20deg);
		-o-transform: rotate(-20deg);
		-ms-transform: rotate(-20deg);
		transform: rotate(-20deg);
	}
	
	.boutons_sur_publication
	{
		margin-left: -20px;
	}
	
	section h1
	{
		margin-top: 0px;
	}
	
	section>div:first-child
	{
		padding-top: 115px;
	}
	
	section h1, .bs-callout
	{
		font-size: 13pt;
	}
	
	form label
	{
		width: 220px;
		font-size: 13pt;
		margin-left: 0px;
	}
	
	#conteneur>section:nth-child(2)
	{
		text-align: center;
	}
	
	#password
	{
		margin-top: 10px;
	}
	
	form input
	{
		width: 275px;
		font-size: 13pt;
		border: 1px solid #1A3A49;
	}
	
	button:nth-child(10), button:nth-child(40)
	{
		width: 160px;
		height: 27px;
		font-size: 9pt;
		border: 1px solid #51A2C8;
	}
	
	footer
	{
		width: 645px;
		height: 95px;
		margin-top: -3px;
	}
	
	footer section
	{
		width: 93%;
		height: 65.1px;
		margin-top: -4.5px;
	}
	
	footer a, footer p
	{
		position: relative;
		bottom: 16px;
		font-size: 7pt;
	}
	
	footer section a
	{
		margin-right: 136px;
	}
	
	footer section a:nth-child(2)
	{
		margin-left: 27%;
	}
	
	footer section a:nth-child(5)
	{
		margin-left: 27%;
		margin-right: 125px;
	}
	
	footer p
	{
		margin-top: -13px;
	}
	
	body
	{
		/*overflow: hidden;*/
	}
}